<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Fair AirBnB Fare Finder</title>
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="" method="post">
            {{ form.csrf }}
 			<div class="input text">
                {{ form.prop_type.label }} {{ form.prop_type }}
            </div>
            <div class="input text">
                {{ form.num_rooms.label }} {{ form.num_rooms }}
            </div>
             <div class="input text">
                {{ form.num_accom.label }} {{ form.num_accom }}
            </div>
            </div>
             <div class="input text">
                {{ form.room_type.label }} {{ form.room_type }}
            </div>
            <div class="input text">
                {{ form.borough.label }} {{ form.borough }}
            </div>
            <div class="input text">
                {{ form.neighborhood.label }} {{ form.neighborhood }}
            </div>
            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
        </form>
    </body>
</html>